app-tab-panel{  
  padding: 10px;
  margin: 7px;
  display: none;
  \\border: 1px solid rgba(0,0,0,0.2);
  border-radius: var(--rounded);
  opacity: 0;
  transition: opacity 0.4s ease, transform 0.4s ease;
  transform: translateY(10px);
  height: 96%;
}

app-tab-panel[open]{
  display: block;  
  opacity: 1;
  transform: translateY(0);
}

@starting-style {
  app-tab-panel[open] {
    opacity: 0;
    transform: translateY(10px);
  }
}

