:root {
    --primary: #4267B2;
    --secondary: #0C9CAF;
    --rounded: 4px;
    --hovered: 0px 0px 5px 3px rgba(0, 0, 0, 0.1) inset
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-family: "Roboto", sans-serif;
    background-color: whitesmoke;

}

nav {
    background-color: var(--secondary);
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;

    >div {
        font-weight: bold;
        color: white;
        font-size: 22px;
        font-family: Arial, Helvetica, sans-serif
    }
}

[content]::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url('/public/bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.2;
    z-index: -1;
}

[content] {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    [waktusolat] {
        \\height: 100%;
        display: flex;
        flex-direction: column;
        \\border: 1px solid red;
        \\box-sizing: border-box;

        >div {
            \\border: 1px solid indigo
        }

        #date {
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: bold;
            font-size: 28px;
            border-radius: 16px;



            >div {
                border: 1px solid black;
                border: 2px solid var(--secondary);
                color: var(--secondary);
                margin: 15px;
                padding: 10px 20px;
                border-radius: 12px;
                background-color: whitesmoke;
            }

            >div:hover {
                cursor: pointer;

            }

        }


        #widget {
            display: flex;
            justify-content: center;
            gap: 10px;
            align-items: center;
            margin-top: 20vh;

            /* container */
            >div {
                margin: 0px 10px;
                padding: 5px;
                border-radius: 12px;
                width: 250px;
                height: 300px;
                border: 2px solid var(--secondary);
                color: var(--secondary);
                font-weight: bold;
                text-align: center;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                background-color: whitesmoke;
                position: relative;
                background: url('/public/widget_bg.png') center / cover no-repeat;

                >div {
                    border-radius: 12px;
                    \\border: 1px solid red;
                }

                /* name */
                >div:nth-of-type(1) {
                    font-size: 36px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                /* time */
                >div:nth-of-type(2) {
                    font-size: 48px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border: 1px solid var(--secondary);
                }
            }

            >div.active {
                background-color: cornflowerblue;

                >div:nth-of-type(2) {
                    background-color: var(--secondary);
                    color: white;
                }
            }

            >div:hover {
                background-color: var(--secondary);
                cursor: pointer;

                /* time */
                >div:nth-of-type(2) {
                    animation: pulse infinite 2s;

                }
            }
        }





    }


    #tablediv {
        width: 90vw;
    }


}


table {
    \\border: 1px solid black;
    border-collapse: collapse;
    width: 100%;
    background-color: whitesmoke;
    border-radius: 5px 5px 0px 0px;
    height: 80%;
    font-size: 14px;


    >thead {
        background-color: var(--secondary);
        color: white;

        >tr {

            >th {
                padding: 10px;
                text-transform: capitalize;
            }

            >th:nth-of-type(1) {
                border-radius: 5px 0px 0px 0px;
            }

            >th:nth-last-of-type(1) {
                border-radius: 0px 5px 0px 0px;
            }
        }


    }

    >tbody {

        >tr {
            \\border: 1px solid black;


            >td {
                \\border: 1px solid black;
                padding: 4px 2px;
                text-align: center;
            }
        }

        >tr.active {
            background-color: var(--secondary);
            color: white;
        }

    }

}